<%- include ('partials/header.ejs') %>
<body>
  <section>
    <div class="form-box">
      <div class="form-value">
        <form action="/login" method="POST">
          <h2 class="txtLogin">Login</h2>
          <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" name="email" required />
            <label for="">Email</label>
          </div>
          <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" name="senha" required />
            <label for="">Password</label>
          </div>
          <div class="forget">
            <label> <input type="checkbox" /> Remember me </label>
            <label>
              <a href="#">Forgot password?</a>
            </label>
          </div>
          <button class="button">Login</button>
          <div class="register">
            <p>deseja se registrar ?? <a href="/register">Register</a></p>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- partial -->
  <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>

<%- include ('partials/footer.ejs') %>
