<%- include ('partials/header.ejs') %>
 
        <body>
            <!-- Responsive navbar-->
            <%- include ('partials/navbar.ejs') %>
            <!-- Page Content-->
            <div class="container px-4 px-lg-5">
                <!-- Heading Row-->
                <div class="row gx-4 gx-lg-5 align-items-center my-5">
                    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=1200,height=675/catalog/crunchyroll/a3c042b2aad7d2d742af84dfd223e04b.jpg" alt="..." /></div>
                    <div class="col-lg-5">
                        <h1 class="font-weight-light">Anime de Hoje</h1>
                        <p>One Punch-Man é uma série de webcomic criada pelo autor com o pseudónimo One, e é publicada desde 2009. A série rapidamente tornou-se um fenómeno viral, alcançando mais de 7,9 milhões de acessos, em junho de 2012</p>
                        <a class="btn btn-primary" href="#!">Ver Anime</a>
                    </div>
                </div>
                <!-- Call to Action-->
                <div class="card text-white bg-secondary my-5 py-4 text-center">
                    <div class="card-body"><p class="text-white m-0">Me diga qual é seu anime favorito ?</p>
                      <div class="btn btn-primary m-3">Me diga qual é !!!!</div>  
                    </div>
                </div>
                <!-- Content Row-->
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">Dragon ball</h2>
                                <p class="card-text">Dragon Ball é uma franquia de mídia japonesa criada por Akira Toriyama. Originalmente iniciada com uma série de mangá escrita e ilustrada por Toriyama, foi serializada em capítulos na revista Weekly Shonen Jump de 1984 a 1995. A abreviatura é「DB」</p>
                            </div>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Mais infomarção</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">Overlord</h2>
                                <p class="card-text">Overlord é uma série Japonesa de light novels escrita por Kugane Maruyama e ilustradas por so-bin. Teve sua serialização online em 2010, antes de ser adquirido pela Enterbrain. Dezesseis volumes foram publicados desde 30 de julho de 2012.</p>
                            </div>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">Card Three</h2>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                            </div>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer-->
            <footer class="py-5 bg-dark">
                <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
            </footer>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="js/scripts.js"></script>
        </body>

    <%- include ('partials/footer.ejs') %>